<footer>
  <div class="pie-de-pagina">
    <div class="seccion-pie contacto">
      <h3>Contacto</h3>
      <p>
        <i class="fas fa-envelope icono-pie"></i>
        <a href="mailto:info@cuidat.com" class="enlace-pie">info@cuidat.com</a>
      </p>
      <p>
        <i class="fas fa-phone-alt icono-pie"></i>
        <a href="tel:+593999999999" class="enlace-pie">+593 999 999 999</a>
      </p>
      <p>
        <i class="fas fa-map-marker-alt icono-pie"></i>
        <a
          href="https://www.google.com/maps/place/Guayaquil"
          target="_blank"
          class="enlace-pie"
          >Guayaquil, Ecuador</a
        >
      </p>
    </div>
    <div class="seccion-pie legal-pie">
      <p><a href="#" class="enlace-pie">Política de Privacidad</a></p>
      <p><a href="#" class="enlace-pie">Términos de Uso</a></p>
      <p class="copyright-pie">© 2025 CuidaT. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
