<div class="crud-contenedor" id="crear-mensaje">
  <h1 class="crud-titulo">Crear Nuevo Mensaje</h1>

  <% var formAction = '/mensajes'; var formMethod = 'POST'; var mensaje = null;
  %> <%- include('./_form.ejs', { formAction: formAction, formMethod:
  formMethod, mensaje: mensaje }) %>
</div>
